<div class="aim-blocks">
  <div class="aim-block"><svg class="policy aims" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#svg-policy"></use></svg><p>
    <strong>We contribute</strong> to debate and policy development on the most effective means of achieving results in development.
  </p></div>
  <div class="aim-block"><svg class="debate aims" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#svg-debate"></use></svg><p>
    <strong>We facilitate</strong> the exchange of views, the conduct of research and the publication of policy work on methods of improving development effectiveness.
  </p></div>
  <div class="aim-block last"><svg class="members aims" viewBox="0 0 100 100" preserveAspectRatio="xMinYMax meet"><use xlink:href="#svg-members"></use></svg><p>
    <strong>We build</strong> a better understanding of the role and achievements of our member organisations.
  </p></div>
</div>
