<div class="header-wrap">
  <header class="site-header">
    <nav class="cf">
      <ul class="nav-list">
        {% assign pages = site.pages | sort: "sort" | reverse %}
        {% for node in pages %}
          {% if node.layout == "page" and node.sort > 0 %}
            <li><a class="without-underline {% if page.url contains node.url %}active{% endif %}" href="{{ node.url }}">{{ node.title | upcase }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
    <h1><a href="/">{{ page.title }}</a></h1>
  </header>
</div>
