<div class="header-wrap">
<nav>
  <a href="https://www.dai.com"><svg class="flag" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#mono-flag"></use></svg></a>
  <ul>
    <li><a href="/news-and-trends" class="{% if page.title contains 'News and Trends' %}active{% endif %}">NEWS & TRENDS</a></li>
    <li><a href="/projects" class="{% if page.title contains 'Projects' %}active{% endif %}">PROJECTS</a></li>
    <li><a href="/experts" class="{% if page.title contains 'Experts' %}active{% endif %}">EXPERTS</a></li>
  </ul>
</nav>
  <div class="shader">
    <header>
    <div class="header-inner">
      <h1><a href="/">{{ site.title }}</a></h1>
      <p class="header-leadin"><strong>Financing service delivery and state operations is the core of good governance</strong>.</p> 
    </div>
    </header>
  </div>
</div>
