<svg style="display: none;">
    <defs>
      <g id="flag" class="svg" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="DAIDarkLogo" sketch:type="MSLayerGroup">
            <g id="Page-1" sketch:type="MSShapeGroup">
                <g id="DAI">
                    <path d="M0,0 L0,74 L371,74 L371,0 L0,0 L0,0 Z" id="Rectangle-1"></path>
                    <path d="M0,85 L0,159 L371,159 L371,85 L0,85 L0,85 Z" id="Rectangle-1-copy"></path>
                    <path d="M0,171 L0,245 L371,245 L371,171 L0,171 L0,171 Z" id="Rectangle-1-copy-2"></path>
                </g>
            </g>
        </g>
    </g>
    </defs>
</svg>
