
// 🎌The Grid 🎌
hr{
  border-bottom: 1px solid rgba($black, 0.3);
  border-top: 0;
}
.page-content img{
  width: 100%;
}
.big-wrap, header, footer{
  padding-top: .1rem;
  padding-bottom: .1rem;
  @include clearfix;
  @include min-width(3.5);
  margin: auto;
  @include responsive(tiny-screens){
    @include width(5);
  }
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    @include width(8);
  }
  @include responsive(wide-screens){
    @include width(12);
  }
  @include responsive(ultra-wide-screens){
    @include width(14);
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(16);
  }
  min-width: 16.5rem;
}

// 🎌The Header🎌


.header-wrap{
  background-color: #303B40;
  color: white;
  background-image: url(/assets/lra.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 35rem;
  position: relative;
  .shader{
    background: -moz-linear-gradient(to bottom, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -ms-linear-gradient(to bottom, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%);
    background: linear-gradient(to bottom, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    position: relative;
    top: -10px;
    padding-bottom: 20px;
    padding-top: 40px;
  }
  a{
    color: white;
    text-decoration: none;
  }
  a:visited{
    color: white;
    text-decoration: none;
  }
  header{
    height: 20rem;
  }
}
svg.flag{
  height: 1.5rem;
  width: 2.5rem;
  display: block;
  float: left;
}
nav{
  z-index: 2;
  display: block;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  @include responsive(medium-screens){
    padding-right: 4rem;
    padding-left: 4rem;
  }
  margin-top: 0;
  background-color: rgba(36,45,49,1);
  position: fixed;
  @include clearfix;
  ul{
    @include clearfix;
    float: right;
    margin: 0;
    li{
      float: right;
      color: white;
      margin-bottom: 0;
      margin-top: 0;
      list-style: none;
      margin-left: .5rem;
      @include responsive(medium-screens){
        margin-left: .9rem;
      }
    }
  }
}
img.float-left{
  float: left;
  width: 20%;
  margin-right: 1rem;
  margin-top: .6rem;
}
code{
  margin-top: 0;
  display: block;
  padding: .1rem;
  padding-left: .5rem;
  padding-right: .5rem;
  background-color: lighten($gray, 30%);
  font-size: .6rem;
  line-height: 1rem;
  width: 100%;
  font-family: 'ff-meta-serif-web-pro', Georgia, serif;
}
aside{
  padding: 1.5rem;
  background-color: lighten($gray, 25%);
}
blockquote{
  border-left: 2px solid $orange;
  padding-left: 1rem;
}

// 🎌Content🎌
.post-content{
  @include width(5);
  margin-top: 3rem;
  @include responsive(small-screens){
    @include width(6);
  }
  @include responsive(medium-screens){
    float: none ;
    @include width(8);
    margin-top: 1.4rem;
  }
  @include responsive(wide-screens){
    float: right;
    @include width(8);
  }
  @include responsive(ultra-wide-screens){
    @include width(10);
  }
  p.lead-in{
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
}
.post-colophon{
  @include width(5);
  margin-top: 3rem;
  .post-colophon--logo{
    border-bottom: 0px solid white;
      :hover{
        border-bottom: 0px solid white;
      }
  }
  @include responsive(small-screens){
    @include width(6);
    .post-colophon--logo{
      @include width(2.5);
      float: left;
      margin-right: $gutter;
      margin-top: .6rem;
    }
  }
  @include responsive(medium-screens){
    @include width(8);
    float: none;
    .post-colophon--logo{
      display: block;
      @include width(3);
      float: none;
      margin-right: 0;
      margin-top: 0;
    }
  }
  @include responsive(wide-screens){
    @include width(4);
    float: left;
    margin-right: $gutter;
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(6);
  }
}
.collection-blocks{
  @include clearfix;
}
.collection-block{
  position: relative;
  margin-bottom: 1rem;
  @include clearfix;
  @include responsive(small-screens){
    @include width(3);
    float: left;
  }
  @include responsive(medium-screens){
    @include width(4);
  }
}
.collection-block.odd{
  @include responsive(small-screens){
    margin-right: $gutter;
  }
}
.collection hr{
  margin-bottom: 1.5rem;
}
.primary-block--button.collection{
  margin-bottom: 3rem;
}
.primary-block--button.solution{
  margin-bottom: 5rem;
}
.collection-block.expert{
  a{
    color: $text-white;
    :hover{
      color: $text-white;
    }
    :visited{
      color: $text-white;
    }
    :focus{
      color: $text-white;
    }
  }
  @include responsive(extra-ultra-wide-screens){
    @include width(3);
  }
}
.collection-block.project{
    @include responsive(extra-ultra-wide-screens){
    @include width(6);
  }
}
.collection-block--title{
  margin-bottom: 0px;
}
.collection-block--details{
  font-size: .9rem;
  width: 100%;
  line-height: 1.2rem;
  position: absolute;
  z-index: 1;
  bottom: .4rem;
  padding: .5rem;
  padding-top: 2rem;
  background: -moz-linear-gradient(to top, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to top, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 40%, rgba(36,45,49,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: -ms-linear-gradient(to top, rgba(36,45,49,1) 20%, rgba(36,45,49,0.9) 50%, rgba(36,45,49,0) 100%);
    background: linear-gradient(to top, rgba(36,45,49,1) 5%, rgba(36,45,49,0.9) 30%, rgba(36,45,49,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  color: white;
  .expert-name{
    font-weight: 400;
    margin-bottom: 0;
  }
  p{
    margin-bottom: 0;
    margin-top: .2rem;
  }
}
a.primary-block--button{
  @include responsive(tiny-screens){
    display: block;
    width: 100%;
  }
  padding: 7px;
  background-color: lighten($button-green, 5%);
  color: $text-white;
  font-weight: 400;
  border-radius: 2px;
  display: block;
  width: 30%;
}
.primary-block--button:hover{
  background-color: darken($button-green, 10%);
  color: $text-white;
}
.redirect{
  height: 1rem;
  width: 1rem;
  position: relative;
  top: .3rem;
  float: right;
}
.post{
  @include clearfix;
  margin-bottom: 3rem;
}
.project-block, .expert-block, .news-block{
  margin-bottom: 3rem;
  @include clearfix;
  .primary-block--button{
    margin: 1rem 0 3rem 0;
    clear: both;
  }
  .region{
    margin-bottom: 0;
  }
  .client{
    margin-top: 0;
  }
  img{
    width: 25%;
    float: left;
  }
  .summary, .name, .title{
    width: 70%;
    float: right;
  }
  .name, .title{
    margin-top: 0;
  }
}
// 🎌The Footer🎌
.colophon{
  text-align: center;
   img{
  height: 2rem;
  position: relative;
  top: 10px;
  }
}

footer{
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.footer-wrap{
  background-color: #303B40;
}