---
layout: default
---

<div class="post">
  <article class="post-content">
    {{ content }}
  </article>
  <div class="post-colophon">
    <a class="post-colophon--logo" href="https://www.dai.com"><svg class="logo" viewBox="0 0 982 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#logo-flag"></use></svg></a>
    <p>
      <strong>DAI</strong> helps local and national governments collect and utilize resources in the most efficient, effective, and equitable ways possible, including through sound management of the budget planning and allocation process as well as effective revenue generation and administration. 
    </p>
    <hr>
    <div class="collection">
      <div class="collection-blocks">
        <h3>Tools and Resources</h3>
        <div class="block-tool">
          <a class="resource" href="/uploads/pfm.pdf"><svg class="article-badge" viewBox="0 0 101 101" preserveAspectRatio="xMinYMax meet"><use xlink:href="#article-badge"></use></svg> Public Finance and Economic Policy</a>
          <a class="resource" href="/uploads/trade-and-investment.pdf"><svg class="article-badge" viewBox="0 0 101 101" preserveAspectRatio="xMinYMax meet"><use xlink:href="#article-badge"></use></svg> Trade and Investment</a>
        </div>
        <hr>
    <a href="/experts" class="primary-block--button collection" target="blank">Experts<svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <a href="/projects" class="primary-block--button collection" target="blank">Projects<svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
    <a href="/news-and-trends" class="primary-block--button collection" target="blank">News & Trends<svg class="redirect" viewBox="0 0 36 70" preserveAspectRatio="xMinYMax meet"><use xlink:href="#redirect"></use></svg></a>
      </div>
    </div>
  </div>
</div>
