---
layout: default
---

<div class="post">
  <div class="post-colophon">
    <a class="post-colophon--logo" href="https://www.dai.com"><svg class="flag" viewBox="0 0 371 245" preserveAspectRatio="xMinYMax meet"><use xlink:href="#flag"></use></svg></a>
    <p>
      <strong>DAI</strong> works on the frontlines of international development. Transforming ideas into action—action into impact. We are committed to shaping a more livable world.
    </p>
  </div>
  <article class="post-content">
    {{ content }}
  </article>

</div>
